.score-sheet {

  position: relative;

  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template: max-content 5rem 5rem 1fr 3rem / 1fr 20rem 30rem;


  overflow: hidden;

  &__header {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;

    font-size: 4rem;

    color: white;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.2rem black;

    background: rgb(2,0,36);
    background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);

    &--left { flex: 1; margin-left: 3rem; }
    &--right { flex: 0 1; display: flex;  }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, transparent, white);
    }
  }

  &__controls {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin-left: 3rem;

    font-size: 2rem;

    button {

      padding: 1rem 2rem;
      font-size: 2rem;

      margin-left: 1rem;
    }

    &--selected {
      background-color: rgba(gray, .5);
    }

    &--time {
      padding: 1rem 3rem;
      border-radius: 1rem;
      box-shadow: .2rem 0 .4rem rgba(black, .5);
      transition: all .2s;

      margin-right: 1rem;

      font-size: 2rem;

      &:first-of-type { margin-left: 1rem; }

      &:hover {
        cursor: pointer;
        box-shadow: .3rem 0 .6rem rgba(black, .8);
      }

      .input__text {
        font-size: 2rem;
      }
    }

    &--showscoreboard {
      margin-left: auto;
      margin-right: 5rem;
    }

    &--custom { padding: .6rem 2rem; }
  }

  &__teams {
    grid-row: 2 / 5;
    grid-column: 3 / 4;

    display: flex;
    flex-direction: column;

    & > * {
      flex: 1;
    }
  }

  &__status {

    display: flex;
    justify-content: stretch;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    &--row {
      width: 100%;
      padding: .5rem 2rem;

      display: flex;
      justify-content: center;
    }

    &--title, &--data {
      font-size: 4rem;
    }

    &--title {
      padding: 0 3rem;
    }
  }

  &__timer {
    position: relative;

    grid-row: 4 / 5;
    grid-column: 1 / 2;

    font-size: 15rem;
    letter-spacing: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 2rem;

    &--time {
      flex: 1;
      text-align: right;
    }

    &--unit {
      flex: 1;
      text-align: left;
    }
  }

  &__setup {

  }

  &__quickfire {

    position: absolute;
    top: 0;
    // left: 0;
    width: 100%;
    height: 5rem;

    animation: fadeInLeft 0.5s ease-in-out 0s 1 forwards;
    opacity: 0;
    left: -150%;

    display: flex;

    border-radius: 1rem;
    // overflow: hidden;

    box-shadow: .2rem 0 .4rem rgba(black, .5);

    &--question {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 2rem;
      flex: 1;
      font-weight: bold;
      color: white;
      transition: all .2s;
      text-align: center;
      border: .5rem solid transparent;
      letter-spacing: normal;

      &:first-of-type { border-radius: 1rem 0 0 1rem; }
    }

    button {
      width: 20rem;
      font-size: 1.6rem;
    }

    &--unasked { background-color: gray; color: rgba(white, .4); }
    &--incorrect { background-color: red;}
    &--correct { background-color: green;}
    &--current { border-color: yellow; color: white; font-weight: bold;}

    &--next {
      position: absolute;
      right: 0;
      top: 7rem;
      width: 20rem;

      border-radius: 1rem;
      padding: 1rem 2rem;

      background-color: rgba(32, 119, 175,1);
      opacity: 1;
      z-index: 10000;

      font-size: 1.4rem;
      letter-spacing: .1rem;
      text-align: justify;
      color: white;

      filter: drop-shadow(.2rem 0 .4rem rgba(black, .5));
      animation: tooltipBounce 1s ease-in-out 0s infinite alternate;

      &::after {
        content: "";
        position: absolute;
        top: -2rem;
        left: 50%;
        background-color: rgba(32, 119, 175,1);
        width: 2rem;
        height: 2rem;
        clip-path: polygon(50% 50%, 100% 100%, 0% 100%, 50% 50%);
      }

      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
      }
    }

  }

  &__answer {
    grid-row: 2 / 5;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;

    font-size: 15rem;


    &--correct, &--incorrect {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: 1rem;
      margin: 1rem 0;

      user-select: none;

      transition: all .2s;

      box-shadow: .3rem 0 .6rem rgba(black, .5);

      &:hover {
        cursor: pointer;
        color: white;
        transform: translateY(-.3rem);
        filter: brightness(1.2);
      }

      &:active {
        transform: translateY(-.1rem);
      }
    }

    &--correct {
      background-color: green;
    }

    &--incorrect {
      background-color: red;
    }
  }

  &__footer {
    grid-row: 5 / 6;
    grid-column: 1 / -1;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__gameover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(gray, .6);

    z-index: 100;

    &--scores {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60rem;

      background-color: rgba(32, 119, 175,1);
      padding: 3rem 5rem;
      border-radius: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--title {
      text-align: center;
      font-size: 8rem;
      color: white;
      font-weight: bold;
      text-shadow: .2rem .2rem .2rem black;
      margin-bottom: 2rem;
    }

    &--row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);

      border-radius: 1rem;
      box-shadow: .2rem 0 .4rem rgba(black, .5);
      padding: 1rem 2rem;
      margin-bottom: 1rem;
    }

    &--teamname, &--score {
      color: white;
      font-size: 2rem;
    }

    &--close {
      text-align: center;
      border-radius: 1rem;
      padding: 2rem 4rem;
      transition: all .2s;

      align-self: center;

      margin-top: 3rem;
      border: .2rem solid transparent;

      font-size: 2rem;

      &:hover {
        cursor: pointer;
        transform: translateY(-.3rem);
        background-color: rgba(200, 200, 200, .5);
        border: .2rem solid rgba(black, .5);
        box-shadow: .3rem 0 .6rem rgba(black, .5);
      }

      &:active {
        transform: translateY(-.1rem);
      }
    }

    &--teamname { font-weight: bold ;}
  }

  &__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(gray, .5);
    font-size: 15rem;
    font-family: 'Bungee Spice', cursive;

    // added via JS for dynamic banners.
    &--text {
      animation: fadeIn .2s ease-in-out 0s 1 forwards, bannerOut .2s ease-in-out 2s 1 forwards;
      opacity: 0;
    }

    &--invisible { visibility: hidden; }
    &--visible { visibility: visible; }
  }
}

.fadeOut {
  animation: fadeOut .5s ease-in-out 0s 1 forwards;
}

@keyframes fadeIn {
  100% { opacity: 1; }
}

@keyframes fadeOut {
  100% { opacity: 0; }
}

@keyframes bannerOut {
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes fadeInLeft {
  100% { opacity: 1; left: 0; }
}

@keyframes tooltipBounce {
  0% { transform: translateY(0);}
  100% { transform: translateY(-.3rem);}
}
