<div class="score-sheet">

  <!-- just the header -->
  <div class="score-sheet__header">
    Academic Games Scrimmage Control Panel
  </div>

  <!-- which team goes first, the question setting setc - in game changes that can be made -->
  <!-- this is for making changes during the scrimmage -->
  <div class="score-sheet__controls">
    <div class="score-sheet__controls--questionstyle"></div>
    <div class="score-sheet__controls--buttons">
      <button (click)="toggleManualMode()">Manual Mode</button>
      <button (click)="startTimer(15)">Start 15 seconds timer</button>
    </div>
  </div>

  <!-- the team scores -->
  <div class="score-sheet__teams">
    <!-- teams are a composnent -->
    <app-team [manual]="manualMode" [team]="team" *ngFor="let team of teams"></app-team>
  </div>

  <!-- the actual timer -->
  <div class="score-sheet__timer">
    {{ time | number:'2.2-2' }} s
  </div>

  <!-- How the game will be setup -->
  <div class="score-sheet__setup">
    <div class="score-sheet__setup--line">Teams</div>
    <div class="score-sheet__setup--line">(Team Names)</div>
    <div class="score-sheet__setup--line">Question Style</div>
    <div class="score-sheet__setup--line">Rounds</div>
    <div class="score-sheet__setup--line">(Each round style/time/questions etc)</div>
  </div>

  <!-- Click right or wrong to say if they team answered correctly -->
  <div class="score-sheet__answer">
    <div class="score-sheet__answer--correct">&#x2713;</div>
    <div class="score-sheet__answer--incorrect">&#x2718;</div>
  </div>

  <!-- the footer -->
  <div class="score-sheet__footer">
    If anything doesnt work or for feature requests, <a href="mailto:alex.bunting@gmail.com">send me an email</a>!
  </div>

</div>
