<div class="score-sheet" *ngIf="game">

  <!-- just the header -->
  <div class="score-sheet__header">
    Academic Games Scrimmage Control Panel
  </div>

  <!-- which team goes first, the question setting setc - in game changes that can be made -->
  <!-- this is for making changes during the scrimmage -->
  <div class="score-sheet__controls">
    <div class="score-sheet__controls--questionstyle"></div>
    <div class="score-sheet__controls--buttons">
      <button class="input__button" (click)="toggleManualMode()">Manual Mode</button>
      <button class="input__button" (click)="startTimer(70)">Start 70 seconds timer</button>
      <button class="input__button" (click)="startTimer(15)">Start 15 seconds timer</button>
      <button class="input__button" (click)="resetTimer()">Reset Timer</button>
      <button class="input__button" (click)="quickfireTeamChange()" *ngIf="gameService.quickFire">Next Quickfire Team</button>
    </div>
  </div>

  <div class="score-sheet__status">
    <div class="score-sheet__status--row">
      <div class="score-sheet__status--title">Round</div>
      <div class="score-sheet__status--data">{{ game.currentRound + 1 }}</div>
    </div>
    <div class="score-sheet__status--row">
      <div class="score-sheet__status--title">Question</div>
      <div class="score-sheet__status--data">{{ game.currentQuestion + 1 }}</div>
    </div>
    <div class="score-sheet__status--row">
      <div class="score-sheet__status--title">Mode</div>
      <div class="score-sheet__status--data">{{ gameService.quickFire ? 'Quickfire' : 'Normal' }}</div>
    </div>
  </div>

  <div class="score-sheet__gameover" *ngIf="gameService.gameEnded">
    <div class="score-sheet__gameover--scores">
      <div class="score-sheet__gameover--title">Game Over</div>
    </div>
  </div>

  <!-- the team scores -->
  <div class="score-sheet__teams">
    <!-- teams are a composnent -->
    <app-team [manual]="manualMode" [team]="team" [turn]="game!.currentTeam" [stealing]="game!.forStealId" *ngFor="let team of game?.teams"></app-team>
  </div>

  <!-- the actual timer -->
  <div class="score-sheet__timer" *ngIf="game">
    <div class="score-sheet__timer--time">{{ time | number:'2.0-0' }}</div>
    <div class="score-sheet__timer--unit">s</div>
  </div>

  <div id="banner" class="score-sheet__banner score-sheet__banner--invisible"></div>

  <!-- Click right or wrong to say if they team answered correctly -->
  <div class="score-sheet__answer" *ngIf="!manualMode">
    <div class="score-sheet__answer--correct" (click)="correct()">&#x2713;</div>
    <div class="score-sheet__answer--incorrect" (click)="incorrect()">&#x2718;</div>
  </div>

  <!-- the footer -->
  <div class="score-sheet__footer">
    If anything doesnt work or for feature requests, <a href="mailto:alex.bunting@gmail.com">send me an email</a>!
  </div>

</div>

  <!-- How the game will be setup -->
  <div class="score-sheet__setup" *ngIf="!game">
    <app-setup></app-setup>
  </div>
