*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {

}

.input__select {
  border-radius: .5rem;

  &--short { width: 5rem; }
}

.input__text {
  border-radius: .5rem;

  &--short { width: 5rem; }
  &--medium { width: 10rem; }
}
