*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Exo', sans-serif;

  @media screen and (max-width: 1400px) { font-size: 50%; }
  @media screen and (max-width: 1150px) { font-size: 37.5%; }
  @media screen and (max-width: 850px) { font-size: 25%; }
}

body {
}

.input__select {
  border-radius: .5rem;
  padding: .5rem 1rem;

  &--short { width: 5rem; }
}

.input__text {
  border-radius: .5rem;
  padding: .5rem 1rem;

  &--short { width: 5rem; }
  &--medium { width: 10rem; }
  &--long { width: 100%; }
}


.input__button {
  padding: .5rem 1rem;
  text-align: center;
  border-radius: .5rem;
  box-shadow: .2rem 0 .4rem rgba(black, .5);
  transition: all .2s;

  &:hover {
    cursor: pointer;
    filter: brightness(1.05);
    transform: translateY(-.2rem);
  }

  &:active {
    transform: translateY(-.1rem);
  }
}

.input__checkbox {
  display: none;
  // checked and unchecked
  & + label {
    padding: .2rem 1.2rem;
    transition: all .2s;
    border-radius: .5rem;
    box-shadow: .1rem 0 .2rem black;

    // display: flex;
    // align-items: center;
    // justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  // checked
  &:checked {
    & + label {
      &::after { content: "\2713"; }
      background-color: rgb(62, 193, 62);
    }
  }
  // unchcked
  &:not(:checked) {
    & + label {
      &::after { content: "\2716"; }
      background-color: rgba(255, 0, 0, 0.502);
    }
  }
}
