.team {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  &__name {

    &--input {
      font-size: 4rem;
      text-align: center;
      border: none;
      padding: .5rem 1rem;
    }
  }

  &__score {
    font-size: 10rem;
  }

  &__current {
    background-color: red;
  }

  &__stealing {
    background-color: yellow;
  }

  &__beingStoleFrom {
    background-color: rgba(red, .5);
  }

  &__controls {
    display: flex;

    & > * {
      &:not(:last-child) { margin-right: .5rem; }
    }
  }
}
